html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* variables */
:root {
    --main-color: #008080;
    --back-color: rgba(0, 0, 0 , 0);
    --primary-color: #fff;
    --secondary-color: #dedede;
    --font-color: #323232;
    --old-color: #f06d6e;
}
/* styles */
#calculator{
    float: left;
    position: relative;
    width: 100%;
    background: var(--back-color);
    color: var(--font-color);
}
#calculator .margin-top{
    margin-top: 25px;
}
#calculator #modalCalc{
    position: fixed;
    display: none;
    top: 150px;
    left: calc(50% - 150px);
    width: 300px;
    padding: 25px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    background: var(--primary-color);
    border: 1px solid var(--font-color);
    color: var(--main-color);
    transition: .3 linear;
}
#calculator .spoiler-calc{
    display: none
}
#mouseTooltip{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 400px;
    height: auto;
    font-size: 13px;
    border: 1px solid rgba(200, 200, 200, 1);
    box-sizing: border-box;
    background: var(--back-color);
    z-index: 5;
}
.calculator__container{
    display: block;
    margin: 55px auto;
    width: calc(100% - 60px);
    max-width: 1140px;
}
.calculator__container::after{
    content: "";
    clear: both;
    display: table;
}
#calculator h4{
    float: left;
    width: 100%;
    font-size: 26px;
    margin-bottom: 25px;
    font-weight: bold;
    color: var(--main-color);
}
#calculator p{
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
}
#calculator .title-calc{
    float: left;
    width: 100%;
    margin: 30px 0 0;
}
#calculator .arrows{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}
#calculator .arrow-left, #calculator .arrow-right{
    position: absolute;
    top: 2px;
    height: 13px;
    width: 2px;
    background: rgb(112, 112, 112)
}
#calculator .arrow-left{
    left: 14px;
    transform: rotate(45deg);
}
#calculator .arrow-right{
    left: 6px;
    transform: rotate(-45deg);
}
#calculator .arrows:hover .arrow-left, #calculator .arrows:hover .arrow-right{
    background: var(--main-color)
}
#calculator .js-active .arrow-left{
    left: 14px;
    transform: rotate(135deg);
}
#calculator .js-active .arrow-right{
    left: 6px;
    transform: rotate(-135deg);
}
#calculator .title-calc p{
    float: left;
    width: auto;
    font-size: 17px;
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
}
#calculator .title-calc .total{
    float: right;
    font-size: 17px;
}
#calculator .questions{
    float: left;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid var(--main-color);
}
#calculator .question{
    float: left;
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 15px 17px 15px 14px;
    box-sizing: border-box;
}
#calculator .ask{
    float: left;
    width: auto;
}
#calculator .icon-ask{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url(../img/icon-question.png) center center no-repeat;
    cursor: help;
    font-size: 0;
}
#calculator .ask p{
    float: left;
    width: auto;
    margin: 0;
    font-size: 16px;
}
#calculator .answer{
    float: right;
    width: auto;
}
#calculator .answer input{
    float: left;
    width: 100px;
    margin: 0 10px;
}
#calculator .check{
    float: left;
    width: auto;
}
#calculator .check input{
    float: left;
    width: auto;
    margin: 1px 20px 0 0;
}
#calculator .check .unit{
    float: left;
    width: 150px
}
#calculator .check .overall{
    float: left;
    width: 150px;
    height: 16px;
    line-height: 16px;
    border-bottom: 1px solid #323232;
}
#calculator .btn-container{
    float: left;
    width: 100%;
    text-align: center;
}
#calculator .btn-calc{
    display: inline-block;
    padding: 7px 20px;
    font-size: 14px;
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .3s linear;
}
#calculator .btn-calc.big{
    padding: 13px 33px;
}
#calculator .btn-calc:hover{
    background: var(--primary-color);
    color: var(--main-color);
}
#calculator .btn-calc:active{
    background-color: var(--main-color);
    outline: none;
  }
#calculator .answer p{
    float: left;
    width: 60px;
    margin: 0;
    font-size: 16px;
}
#calculator .form-privacy{
    float: left;
    width: 50%;
    margin: 25px 25%;
    padding: 20px 30px;
    background: #fff;
    box-sizing: border-box;
}
#calculator .form-privacy h6{
    float: left;
    width: 100%;
    text-align: center;
    margin: 5px 0 25px;
    font-size: 17px;
    font-weight: bold;
    color: var(--main-color)
}
#calculator .form-privacy .fp-row{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#calculator .form-privacy .fp-row p{
    float: left;
    width: 140px;
}
#calculator .form-privacy .fp-row input{
    float: left;
    height: 30px;
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    box-sizing: border-box;
}

@media only screen and (max-width : 1100px) {
    #calculator .answer{ float: left; margin: 0 0 0 15px; }
    #calculator .title-calc .total{ float: right; }
}

@media only screen and (max-width : 850px) {
    #calculator .answer input{ margin: 0 10px 0 0; }
    #calculator .answer{ width: 100%; margin: 15px 0 0 0; }
    #calculator .title-calc .total{ float: right; }
    #calculator .icon-ask{ margin-bottom: 10px; }
}

@media only screen and (max-width : 550px) {
    #calculator .title-calc p{ width: 100% }
    #calculator .title-calc .total{ float: left; margin: 10px 0 0; }
}

@media only screen and (max-width : 450px) {
    #calculator .check .overall{ margin-top: 18px; }
}