html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#calculator{
    float: left;
    position: relative;
    width: 100%;
    background: rgba(244, 237, 233, 0.65);
}
#mouseTooltip{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 400px;
    height: auto;
    font-size: 13px;
    border: 1px solid rgba(200, 200, 200, 1);
    box-sizing: border-box;
    background: rgba(244, 237, 233, 1);
    z-index: 5;
}
.calculator__container{
    display: block;
    margin: 30px auto;
    width: calc(100% - 60px);
    max-width: 960px;
}
.calculator__container::after{
    content: "";
    clear: both;
    display: table;
}
#calculator h4{
    float: left;
    width: 100%;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f06d6e;
    text-align: center;
}
#calculator p{
    float: left;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
#calculator h5{
    float: left;
    width: 100%;
    font-size: 17px;
    margin: 20px 0;
    font-weight: bold;
    color: #f06d6e;
}
#calculator .questions{
    float: left;
    width: 100%;
    border-top: 1px solid #f06d6e;
}
#calculator .question{
    float: left;
    width: 100%;
    border: 1px solid #fff;
    padding: 10px;
    box-sizing: border-box;
}
#calculator .ask{
    float: left;
    width: auto;
}
#calculator .icon-ask{
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url(../img/icon-question.png) center center no-repeat;
    cursor: help;
    font-size: 0;
}
#calculator .ask p{
    float: left;
    width: auto;
    margin: 0;
    font-size: 16px;
}
#calculator .answer{
    float: right;
    width: auto;
}
#calculator .answer input{
    float: right;
    width: 100px;
}
#calculator .btn-container{
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
#calculator .calc-btn{
    display: inline-block;
    padding: 7px 20px;
    font-size: 14px;
    background: #f06d6e;
    border: 1px solid #f06d6e;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}
#calculator .calc-btn:hover{
    background: #fff;
    color: #f06d6e;
}
#calculator .answer p{
    float: right;
    width: auto;
    margin: 0;
    font-size: 16px;
}